﻿.content {
    overflow: auto;
    margin: auto;
    width: 60%;
    border-radius: 50px;    
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10%;
}

.left {
    float: left;
    padding-left: 30px;
}

.right { 
    float: right;
    padding-right: 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


label {
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    color: #555;
}

a {
    float: right;
}

    a:link {
        color: #555;
        text-decoration: none;
    }

    a:hover {
        color: #222;
    }
#panel {
    position: absolute;
}

#header {
    background-attachment: fixed;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Century Gothic';
    width: 100%;
    float: none;
}

li {
    float: left;
    display: block;
}

    li a {
        display: block;
        color: rgb(241, 238, 238);
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: rgba(253, 133, 163, 0.925);
        }

.active {
    background-color: #fd86a4ec;
}

.right {
    /* position:absolute; */
    float: right;
    left: 0;
    top: 92px;
    bottom: 0;
    width: 250px;
    height: 1000px;  
    /* border-style: solid;
border-width: 1px;
border-color: #fd86a4ec;
height: 100%; */
    border-left: 6px solid #fd86a4ec;
    background-color: rgb(255, 219, 219);
}


.main {
    /* position: inherit; */
    left: 178px;
    top: 92px;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px 10px 10px 10px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* border-style: solid;
    border-color: #fd86a4ec;
    border-width: 1px;*/
    height: 2800%;
    background-color: rgb(255, 255, 255);
}

.nav {
    border-style: solid;
    border-color: #fd86a4ec;
    border-width: 1px;
    height: 2900px;
    padding: 20px, 20px, 20px, 20px
}
table, td {
    padding: 30px, 30px, 30px, 30px;
}

button {
    background-color: rgba(253, 133, 163, 0.925);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.universal_wrapper {
    padding: 100px,100px, 100px, 100px;
    margin: 80px, 80px, 80px, 80px;
    background-color: rgb(255, 219, 219)
}

.photo {
    border-radius: 50%;
    padding: 3px, 3px, 3px, 3px;
    float: left;
    background-color: aquamarine;
}

.codeName {
    color: #555;
    font-style: oblique;
    float: left;
    margin: 20px, 20px;
    padding: 5px 5px 5px 5px
   
}

.comment {
    color: black;
    font-size: 13px;
    text-wrap: normal;
    padding: 5px 5px 5px 5px
}


