#panel {
    position: absolute;
}

#header {
background-attachment: fixed;
}

body {
margin-left: 10%;
margin-right: 10%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
font-family:'Century Gothic';
width: 100%;
float: none;
}

li {
float: left;
display: block;
}

li a {
display: block;
color: rgb(241, 238, 238);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(253, 133, 163, 0.925);
}

.active {
background-color: #fd86a4ec;
}

.right {
/* position:absolute; */
float: right;
left:0; top:92px; bottom: 0;
width: 250px;
/* border-style: solid;
border-width: 1px;
border-color: #fd86a4ec;
height: 100%; */
border-left: 6px solid #fd86a4ec;
background-color: rgb(255, 219, 219);
}

.main {
/* position: inherit; */
left:178px; top:92px; right:0; bottom:0;
align-content: center;
/* border-style: solid;
border-color: #fd86a4ec;
border-width: 1px;
height: 100%; */
}

.nav{
border-style: solid;
border-color: #fd86a4ec;
border-width: 1px;
height: 100%;
}