﻿<!--<<div>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/About">About</a></li>
        <li><a href="#/SpeakOut">SpeakOut</a></li>
        <li><a href="#/GoogleMap">GoogleMap</a></li>
        <li><a href="#/Hotline">Hotline</a></li>

    </ul>
</div>-->
<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<div class="nav">
    <center><img id="header" src="App/Materials/header.png"></center>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a class="active" href="#/SpeakOut">Speak Out</a></li>
        <li><a href="#/Hotline">Hotline</a></li>
        <li><a href="#/GoogleMap">Google Map</a></li>
        <li><a href="#/About">About</a></li>
    </ul>

    <div ng-repeat="x in data">
        <div class="holder">
            <table>
               <tr>
                   <td rowspan="2">
                       <span class="image">AN</span>
                   </td>
                   <td>
                       <span class="codeName">{{x.CodeName}}</span>
                   </td>
               </tr>
                <tr>
                    <td>
                        <span class="comment">{{x.Comment}}</span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    &nbsp;&nbsp;&nbsp;<button style="width: 100px" class="wrapper" onclick="window.location.href='#/ForumRedirect'">Me too</button>

    <!--<div class="right">
        <img src="App/Materials/cacc2.png">
    </div>
    <div class="main">
        <img src="App/Materials/cacc.png">
    </div>-->
    <!--<div style="background-color : white">

        <table >
            <tr ng-repeat="x in data" class="universal_wrapper" style="padding-bottom: 30px" >
                <td><span class="codeName">{{x.CodeName}}</span><br/>
                    <span class="comment">{{x.Comment}}</span>
                </td>

            </tr>
        </table>
        <br />
        <button class="submit" style="width:100px" onclick="window.location.href='#/ForumRedirect'">Me too!</button>-->
    <!--<div class="universal_wrapper">
            <div ng-repeat="x in data" class="universal_wrapper">

                <div class="photo"></div>
                <div>
                    <span class="codeName">{{x.CodeName}}</span><br />
                    </

                </div>
            </div>
        </div>
        </div>
    </div>-->
</div>
<style>


    .holder {
        background-color: rgb(255, 219, 219);
        margin : 10px 10px;
        padding-left : 20px;
        padding-bottom : 10px;
        padding-top : 10px;
        padding-right: 10px;
        border-radius : 15px


    }
    .image{
        border-radius : 50%;
        background-color : darksalmon;
        height: 80px;
        width: 80px;
        padding: 10px 10px 10px 10px;
    }
</style>
