﻿<!--<<div>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/About">About</a></li>
        <li><a href="#/SpeakOut">SpeakOut</a></li>
        <li><a href="#/GoogleMap">GoogleMap</a></li>
        <li><a href="#/Hotline">Hotline</a></li>

    </ul>
</div>-->
<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<div class="nav">
    <center><img id="header" src="App/Materials/header.png"></center>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/SpeakOut">Speak Out</a></li>
        <li><a href="#/Hotline">Hotline</a></li>
        <li><a class="active" href="#/GoogleMap">Google Map</a></li>
        <li><a href="#/About">About</a></li>
    </ul>

    <!--<div class="right">
        <h3>Organizations:</h3>

        <a href="http://www.dswd.gov.ph/">
            <img id="logo" height="115" width="220" alt="DSWD" src="App/Materials/DSWD.png">
        </a>

        <a href="www.gabrielaph.com/">
            <img id="logo" height="115" width="220" alt="GABRIELA" src="App/Materials/GABRIELA.png">
        </a>


    </div>-->

    <div class="main">

        <div class="align">
            <img src="App/Materials/assoc.png" alt="Association of Rural Women of Tarlac and Pampanga, Inc." width="550" height="300">
            <br>It aims to produce disciplined empowered women and establish a strong, well-built
            <br> network and linkages with local and international women organizations. It provides
            <br> continuous educational assistance to children, and seminars informing of the violence
            <br> against women and how to prevent them.
            <br><br>
            <ul>
                <li><b>Address:</b> 129 Pinatubo St., 1550 Mandaluyong City, Philippines,</li>
                <li> <b>Contact:</b> (632)531-2202</li>
                <li><b>Email:</b>   pengsimon143@yahoo.com</li>
            </ul>
        </div>
        <br /><br />




        <div class="align">
            <img src="App/Materials/batis.png" alt="Batis Center for women" width="550" height="300">
            <br /> To fight gender oppression, trafficking, violence against migrant women and other
            <br>forms of human rights violation
            <br><br>
            <ul>
                <li><b>Address:</b> 301 UCCP Bldg., 877 EDSA, 1104 Quezon City, Philippines,</li>
                <li><b>Contact:</b> (632) 925-3822</li>
                <li><b>Email:</b>   batis@pacific.net.ph</li>
            </ul>
        </div>

        <br><br>
        <div class="align">
            <img src="App/Materials/php.png" alt="Philippine Commission on Women.png" width="550" height="300">

            <br />
            is a government agency run by the government of the Philippines with the intention
            <br>of promoting and protecting the rights of the Women in the Philippines.
            <br><br>
            <ul>
                <li><b>Address:</b> 1145 J.P. Laurel St., San Miguel Manila 1005 Philippines,</li>
                <li><b>Contact</b>: +632.7365249 or +632.7367712</li>
                <li><b>Email:</b>   edo@pcw.gov.ph</li>
            </ul>
            <br /><br />
        </div>

        <div class="align">
            <img src="App/Materials/demo.png" alt="Democratic Socialist Women of the Philippines" width="550" height="400">
            <br />community-based women able to significantly contribute to the Filipino women's
            <br>empowerment as well as the development of a Philippine society that fully recognizes,
            <br>respects, and promotes the rights of all its citizens.
            <br><br>
            <ul>
                <li><b>Address:</b> Balay BABAYI, 4-A Maalindog St., UP Village, Diliman, 1128 Quezon City, Philippines</li>
                <li><b>Contact:</b> (632) 927-1766</li>
                <li><b>Email:</b>   dswp@siw.org.ph</li>
            </ul>
        </div>
        <br /><br />
        <div class="align">
            <img src="App/Materials/coalition.png" alt="(CATWAP)" width="550" height="400">
            <br />To promote awareness on women’s human rights and initiate action against
            <br> global sexual exploitation and violence against women, particularly prostitution and
            <br>trafficking
            <br><br>
            <ul>
                <li><b>Address:</b> Rm. 608, Sterten Place, 116 Maginhawa Street, Teachers Village, 1101, Quezon City, Philippiness</li>
                <li><b>Contact:</b> 632) 434-2149</li>
                <li><b>Email:</b>   catw-ap@catw-ap.org</li>
            </ul>
        </div>
    </div>
</div>
<style>
    .main ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        font-family: 'Century Gothic';
        width: 100%;
        float: none;
    }

    .main li {
        float: none;
        display: list-item;
    }

        .main li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .main li a:hover:not(.active) {
                background-color: rgba(253, 133, 163, 0.925);
            }

    .align {
        text-align: left;
    }
</style>
