#panel {
        position: absolute;
}

#header {
background-attachment: fixed;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(248, 245, 245);
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
font-family:'Century Gothic';
width: 100%;
float: none;
 }

li {
float: left;
display: block;
 }

li a {
    display: block;
    color: rgb(241, 238, 238);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover:not(.active) {
        background-color: rgba(253, 133, 163, 0.925);
    }

.active {
background-color: #fd86a4ec;
}

.right {
    /* position: inherit; */
    /* overflow: auto;  */
    float: right;
    left:0; top:92px; bottom: 0;
    width: 250px;
    /* border-style: solid;
    border-width: 1px;
    border-color: #fd86a4ec; */
    height: 593px; 
    border-left: 6px solid #fd86a4ec;
    background-color: rgb(255, 219, 219);
}

.main {
    /* position: inherit; */
    left:178px; top:92px; right:0; bottom:0;
    text-align: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* border-style: solid;
    border-color: #fd86a4ec;
    border-width: 1px;*/
    height: 593px; 
    background-color: rgb(255, 255, 255);
}

.nav {
    border-style: solid;
    border-color: #fd86a4ec;rgb(248, 245, 245);
    border-width: 1px;
    height: 100%;
}

blockquote {
    display: block;
    margin: auto;
    margin-left: 250px;
    /* margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px; */
    text-align: left;
    font-family: "Century Gothic";
    text-decoration-color: #fa7da7;
    font-size: 18px;
    color: #92055aec;
}