﻿
<link rel="stylesheet" type="text/css" href="App/Signup/Signup.css">
<div class="content">

    <div class="left">
        <img src="App/Materials/cacc2.png" class="logo">
    </div>

    <div class="right">
        <form>
            <br><br>
            <label><b>First Name</b></label>
            <br>
            <input type="text" placeholder="Enter First Name" name="fname" required align="right">
            <br>
            <label><b>Last Name</b></label>
            <br>
            <input type="text" placeholder="Enter Last Name" name="lname" required align="right">
            <br>
            <label><b>Codename</b></label>
            <br>
            <input type="text" placeholder="Enter Codename" name="cname" required align="right">
            <br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="pwd" required>
            <br><br>
            <button type="submit">Submit</button>
            <br>
            <a href="#/Login"></a>
        </form>

    </div>
</div>
